.pagination {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.pagination .pagination-arrows-instance {
  position: relative !important;
}

.pagination .div-wrapper {
  height: 20px;
  position: relative;
  width: 20px;
}

.pagination .element-2 {
  color: var(--collection-1-clrgray7-duplicate);
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  left: 8px;
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.pagination .pagination-numbers-instance {
  left: 7px !important;
}

.pagination .element-3 {
  color: var(--collection-1-clrgray7-duplicate);
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  left: 7px;
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.pagination .element-4 {
  color: var(--collection-1-clrgray7-duplicate);
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  left: 6px;
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}

.pagination .text-wrapper-2 {
  color: var(--collection-1-clrgray7-duplicate);
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  left: 3px;
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
}
