.frame {
  align-items: flex-end;
  background-color: var(--collection-1-clrwhite-duplicate);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 838px;
  padding: 20px 10px 10px;
  position: relative;
  width: 1540px;
}

.frame .title {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.frame .text-wrapper-3 {
  color: var(--collection-1-clrgray7-duplicate);
  direction: rtl;
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  margin-bottom: -2.00px;
  margin-top: -4.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .table {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
  width: 100%;
}

.frame .filters {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.frame .text-field {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
}

.frame .input-field {
  align-items: center;
  align-self: stretch;
  background-color: var(--collection-1-clrwhite-duplicate);
  border: 1px solid;
  border-color: var(--collection-1-clrgray5-duplicate);
  border-radius: 2px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: flex-end;
  padding: 10px 6px;
  position: relative;
  width: 100%;
}

.frame .label-3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: -5.00px;
  margin-top: -5.00px;
  position: relative;
}

.frame .collapse-7 {
  flex: 0 0 auto !important;
  position: relative !important;
}

.frame .label-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  justify-content: flex-end;
  position: relative;
}

.frame .label-5 {
  color: var(--collection-1-clrgray6-duplicate);
  direction: rtl;
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.frame .table-2 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--collection-1-clrwhite-duplicate);
  border: 1px solid;
  border-color: var(--collection-1-clrgray5-duplicate);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  position: relative;
  width: 100%;
}

.frame .div-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.frame .table-header {
  align-items: center;
  background-color: var(--collection-1-clrgray3-duplicate);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--collection-1-clrgray4-duplicate);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  height: 40px;
  justify-content: flex-end;
  padding: 0px 1px 0px 10px;
  position: relative;
}

.frame .title-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--collection-1-clrdarkblue3-duplicate);
  direction: rtl;
  display: -webkit-box;
  flex: 1;
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.frame .line-2 {
  height: 38px;
  margin-right: -1.00px;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.frame .table-cell-instance {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.frame .row {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.frame .table-footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--collection-1-clrgray4-duplicate);
  border-color: var(--collection-1-clrgray4-duplicate);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  gap: 10px;
  height: 40px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.frame .pagination-instance {
  flex: 0 0 auto !important;
}
