.table-footer {
  display: flex;
  flex-direction: row; /* נשאר בשורה */
  align-items: center;
  justify-content: flex-end; /* הצד הימני */
  background-color: var(--clrgray4);
  border-top: 1px solid var(--clrgray4);
  padding: 10px;
  height: 50px;
  gap: 20px;
  direction: rtl;
}

.pagination-info {
  font-size: 14px;
  color: #555;
  white-space: nowrap; /* 👈 מונע ירידת שורה */
}

.pagination-instance {
  flex: 0 0 auto;
}
