
.button {
  align-items: center;
  border-radius: 2px;
  display: inline-flex;
  gap: 5px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
    /* קביעת רוחב וגובה קבועים */
   /*  height: 40px; /* הגובה הקבוע */
    width: 120px; /* הרוחב הקבוע */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button  {
  /* all: unset; */
  box-sizing: border-box;
  direction: rtl;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.button .add-instance {
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 16px !important;
}

.button.secondary {
  border: 1px solid;
  height: 30px;

  /*border: none; /* הסרת הגבול */
}

.button.primary {
  height: 30px;
}

.button.tertiary {
  height: 20px;
}

.button.state-default.secondary {
  background-color: transparent;
  color: #333; /* צבע טקסט כהה ונעים */
  border: 1px solid #ccc; /* גבול אפור בהיר */
  font-size: 12px;
  /*border: none; /* הסרת הגבול */
}

.button.state-hover.primary {
  background-color: var(--clrdarkblue2) !important;
}

.button.state-disabled.primary {
  background-color: var(--clrgray6) !important;
  height: 30px; /* הגובה הקבוע */
  width: 120px; /* הרוחב הקבוע */
}

.button.state-hover.secondary {
  background-color: var(--clrlightblue1);
  color: var(--clrdarkblue2); /* טקסט כחול כהה */
  border-color: var(--clrdarkblue2);
}

.button.state-default.primary {
  background-color: var(--clrdarkblue3);
  height: 30px; /* הגובה הקבוע */
  width: 120px; /* הרוחב הקבוע */
}

.button.state-disabled.secondary {
  border-color: var(--clrgray6);
  height: 30px; /* הגובה הקבוע */
  width: 120px; /* הרוחב הקבוע */
}

.button.primary  {
  color: var(--clrwhite);
  height: 30px; /* הגובה הקבוע */
  width: 120px; /* הרוחב הקבוע */
}

.button.state-default.secondary {
  color: var(--clrdarkblue3);
  height: 30px; /* הגובה הקבוע */
  width: 120px; /* הרוחב הקבוע */
}

.button.tertiary.state-disabled  {
  color: var(--clrgray6);
}

.button.state-hover.secondary {
  color: var(--clrdarkblue2);
}

.button.state-default.tertiary {
  color: var(--clrdarkblue3);
}

.button.state-disabled.secondary  {
  color: #6c757d; /* אפור כהה יותר */
}

.button.state-hover.tertiary  {
  color: var(--clrdarkblue2);
}



.button.state-disabled.primary {
  background-color: var(--clrgray6); /* צבע רקע אפור */
  color: var(--clrwhite); /* צבע טקסט */
  cursor: not-allowed; /* סמן מתאים */
  opacity: 0.7; /* שקיפות */
  pointer-events: none; /* ביטול כל האירועים */
  border: none; /* הסרת גבול */
}

.button.state-disabled.secondary {
  background-color: var(--clrgray6); /* צבע רקע אפור */
  color: var(--clrwhite); /* צבע טקסט */
  border: 1px solid var(--clrgray5); /* גבול מותאם */
  cursor: not-allowed; /* סמן מתאים */
  opacity: 0.7; /* שקיפות */
  pointer-events: none; /* ביטול כל האירועים */
  border: none; /* הסרת הגבול */
}
.button.secondary:hover {
  background-color: var(--clrlightblue1);
  color: var(--clrdarkblue2);
  border-color: var(--clrdarkblue2);
}
