.menu-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.menu-wrapper svg {
  width: 24px; /* גודל האייקון */
  height: 24px; /* גובה האייקון */
  display: block; /* מוודא שאייקון מתפקד כמו בלוק */
  object-fit: contain; /* התאמת האייקון למרחב */
}

.menu-options {
  position: absolute;
  /* top: calc(100% - 20px); 
  left: calc(100% - 8px);  */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: block;
  min-width: 160px;
  padding: 8px 0;
  white-space: nowrap;
}


/* Dynamically adjust menu position */
.menu-options.above-button {
  bottom: 100%; /* תפריט מעל הכפתור */
  margin-bottom: 8px;
}

.menu-options.below-button {
  top: 100%; /* תפריט מתחת לכפתור */
  margin-top: 8px;
}

.menu-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 10px; /* ריווח בין האייקון לטקסט */
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0; /* רקע בהיר בעת ריחוף */
  border-radius: 4px; /* אפקט עגלול לפריטים */
}
.menu-item-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0; /* מונע מהאייקונים להתכווץ */
}
