
/* הגדרת מסגרת כללית עם מניעת גלילה אופקית */
body {
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-text-regular);
  line-height: var(--line-height-text-regular);
  font-weight: var(--font-weight-regular);
}

@media (max-width: 768px) {
    .table-container-AgentForm-new-design {
        max-width: 100%;
        padding: 8px;
    }

    .table-Data-AgentForm.is-new-design td,
    .table-Data-AgentForm.is-new-design th {
        max-width: 100px;
    }
}
.content-container-NewAgentForm {
    display: flex;
    max-width: 1280px; /* גבול רוחב מקסימלי */
    margin: 0 auto;
    padding: 8px 0; /* הקטנת הרווחים העליונים והתחתונים */
    gap: 4px;
}

/* עיצוב יעד המטרות */
.data-container-Goals {
    width: 25%;
    max-width: 370px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    padding:8px;
    box-shadow: var(--m3-elevation-light-1);
    box-sizing: border-box;
    margin-right: 4px; /* הוספת מרווח קטן בלבד */
    background-color: unset !important;
  }

  .data-container-Goals {
    border-radius: 8px;
    box-shadow: var(--m3-elevation-light-1);
  }
  
  
.table-container-AgentForm-new-design {
  flex-grow: 1; /* תופס את כל הרוחב הזמין */
  max-width: calc(100% - 210px); /* התאמת הרוחב לפי גודל ה-NAVBAR */
  overflow-x: hidden;
  padding: 8px 8px 0 8px; /* הסרת רווח תחתון והשארת רווח בצדדים */
  margin-top: -8px; /* צמצום הרווח העליון */    background-color: var(--clrwhite);
  box-shadow: var(--m3-elevation-light-1);
 box-sizing: border-box;
}

.table-Data-AgentForm.is-new-design table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none !important;

}
  
  .table-Data-AgentForm.is-new-design {
    overflow: visible !important;
  }
  
  
  .table-Data-AgentForm.is-new-design td,
  .table-Data-AgentForm.is-new-design th {
      padding: 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: visible;
      max-width: 150px; /* הגבלת רוחב עמודה */

  }
  
  
  .table-Data-AgentForm.is-new-design td {
    overflow: visible;
    padding: 8px;
    text-overflow: ellipsis;
    color: var(--clrblack);
    direction: rtl;
    white-space: normal; /* מאפשר שבירת שורות */
    text-overflow: clip; /* מסיר את ה-"..." */
    word-break: break-word; /* שוברת מילים ארוכות */
   
 
}

  .table-Data-AgentForm.is-new-design th {
    background-color: var(--clrgray3);
    color: var(--clrdarkblue3);
    font-weight: bold;
    border-color: var(--clrgray4);
    white-space: normal; /* מאפשר שבירת שורות */
  text-overflow: clip; /* מסיר את ה-"..." */
  word-break: break-word; /* שוברת מילים ארוכות */
  text-align: right;
    direction: rtl;
  }
  
  .table-Data-AgentForm.is-new-design tr {
    height: 40px;
  }
  

  .filter-inputs-container-new {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px; /* ריווח פנימי קטן יותר */
    border-radius: 4px;
    width: 100%;
    max-height: 48px; /* מעט נמוך יותר */
    overflow: hidden;
    box-shadow: var(--m3-elevation-light-1); /* אם את רוצה הוספת צל */
}

  
  .filter-input-container,
  .filter-select-container,
  .filter-checkbox-container {
    flex: 1;
    max-width: 150px;
    min-width: 90px;
    position: relative;
  }
  
.filter-input,
.select-input,
.datePicker-input {
    height: 28px; /* גובה אחיד וקטן יותר */
    padding: 4px 8px;
    font-size: var(--font-size-text-small); /* שימוש בפונט קטן יותר */
    width: 100%;
    border: 1px solid var(--clrgray5);
    border-radius: 4px;
    box-sizing: border-box;
}
/* יישור הטקסט בתוך השדות לימין */
.filter-input,
.select-input,
.datePicker-input {
    text-align: right;
    direction: rtl;
}

/* יישור התוויות (placeholders) לימין */
.filter-input::placeholder,
.datePicker-input::placeholder {
    text-align: right;
    direction: rtl;
}

  .datePicker-input {
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    border: 1px solid var(--clrgray5);
    border-radius: 4px;
    font-size: var(--font-size-text-regular);
    color: var(--clrblack);
    background-color: var(--clrwhite);
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
    appearance: none; /* מסיר את העיצוב הדפדפני המובנה */
}



.datePicker-input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* צבע אפור שקוף */
    font-size: var(--font-size-text-small);
    font-style: italic; /* אופציונלי */

}
/* סגנון ל-placeholder של input */
input::placeholder {
  color: rgba(0, 0, 0, 0.5); /* צבע אפור שקוף */
  font-style: italic; /* אופציונלי */
}

/* סגנון ל-placeholder של select */
select option {
  color: rgba(0, 0, 0, 0.5); /* צבע אפור שקוף */
}

  .checkbox-input {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid var(--clrgray5);
    background-color: var(--clrwhite);
    cursor: pointer;
    appearance: none;
    vertical-align: middle; /* מוודא שהצ'קבוקס מיושר עם המלל */
    margin-left: 8px; /* מוסיף ריווח בין הצ'קבוקס למלל */
  }
  
  .checkbox-input:checked {
    background-color: var(--clrprimary);
    border-color: var(--clrprimary);
  }
  

  .filter-checkbox-container label {
    display: flex;
    align-items: center; /* מיישר את הצ'קבוקס והמלל באותו קו */
  }
  
  .table-Data-AgentForm.is-new-design td.notes-column {
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    max-width: 150px; /* מגביל רוחב תא */
    padding: 8px;
    height: 40px; /* גובה קבוע */
    position: relative; /* מאפשר מיקום יחסי */
}


.inline-modal {
  position: absolute;
  top: 100%; /* המודאל מתחת לתא */
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 999; /* לוודא שהמודאל מעל אלמנטים אחרים */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 300px; /* הגבלת רוחב המודאל */
  text-align: right;
  word-break: break-word; /* שבירת טקסט במקרה שהוא ארוך */
}

.inline-modal p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.close-btn:hover {
  background: #c9302c;
}

.notes-column {
  position: relative; /* מאפשר למודאל להופיע ליד התא */
}

.show-more-btn {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8em; /* גודל קטן יותר */
  margin-left: 5px; /* מרחק קטן מהטקסט */
  display: inline-block; /* מופיע לצד הטקסט */
}


.button-container-NewAgentForm {
    display: flex;
    align-items: center;
}

.goals-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 2px;
}

.goal-card {
  background-color: var(--clrwhite);
  border: 1px solid;
  border-color: var(--clrgray3);
  border-radius: 2px;
  width: 100%; /* קחי רוחב מלא */
  box-sizing: border-box;
  max-width: 300px; /* מגביל את הרוחב */
  margin: 0 auto; /* ממקם את הכרטיס במרכז */
  box-sizing: border-box;
  gap: 8px; /* צמצום המרווחים בין האלמנטים */
  padding: 12px; /* שמירה על מרווח פנימי בתוך הכרטיס */
}

.table-Goal-title {
  width: 94px;
  height: 22px;
  color: #3b6a95;
  font-size: 14px;
  font-weight: 700;
  font-family: "Rubik-Regular", Helvetica, sans-serif !important;
}

.goal-Worker select {
  width: 100% !important;
  height: 32px !important;
  padding: 6px 12px !important;
  border: 1px solid var(--clrgray5) !important;
  border-radius: 4px !important;
  font-size: var(--font-size-text-regular) !important;
  color: var(--clrblack) !important;
  background-color: var(--clrwhite) !important;
  box-sizing: border-box !important;
  text-align: right !important;
  direction: rtl !important;
}


  .table-header {
    display: flex;
    align-items: center; /* מוודא שהם יהיו באותו גובה */
    justify-content: space-between; /* הכותרת מימין והכפתור משמאל */
    padding: 8px 16px;
  }
 
  .table-header .table-title {
    all: unset;
    font-family: "Rubik-Regular", Helvetica, sans-serif !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    color: var(--clrdarkblue3) !important;
    text-align: right !important;
    line-height: 36px;
  }

  .filter-input-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
}
.add-deal-button {
    margin-left: 16px;
  }

.goal-progress,
.goal-time {
  margin-top: 12px;
  padding: 0;
}

.achievement-bar, .time-bar {
  width: 100%;
  height: 20px;
  background-color: var(--clrgray1);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  direction: rtl; /* כיוון מימין לשמאל */
}
  
.achievement-bar .indicator, .time-bar .indicator {
  height: 100%;
  background-color: var(--clrdarkblue3);
  border-radius: 4px;
  transition: width 0.3s ease-in-out;
  float: right; /* מתחיל מימין */
}

.progress-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Rubik", Helvetica, sans-serif;
  font-size: 12px;
  color: var(--clrwhite);
  font-weight: 700;
  text-align: right;
}

.progress-bar.state-complete .progress-text {
  text-align: center; /* מרכז את הטקסט במצב "עמדת ביעד" */
  width: 100%; /* מוודא שהטקסט ממורכז */
}


.goal-card h3 {
  margin-bottom: 6px; /* צמצום המרווח מתחת לכותרת */
  color: var(--clrdarkblue3);
  font-weight: bold;
}
.goal-label {
  color: #686868;
  font-family: "Rubik-Regular", Helvetica;
  font-size: 14px;
  font-weight: 500;
}

.goal-performance p {
  margin-top: 8px; /* מרווח בין היעד לביצוע */
}

.goal-card p {
  margin: 0; /* הסרת מרווחים פנימיים מיותרים */
  line-height: 1.4; /* התאמת גובה השורה לקריאות טובה יותר */
}

.goal-progress {
  margin-bottom: 12px;
}

.goal-progress,
.goal-time {
  margin-top: 8px; /* צמצום המרווח בין החלקים של הפרוגרס בר */
}

.goal-progress h4,
.goal-time h4 {
  margin-bottom: 4px; /* צמצום המרווח מתחת לכותרות */
  font-size: 14px;
  color: #686868;
}

.goal-performance p,
.goal-progress div,
.goal-time div {
  margin: 0;
  font-size: 14px;
  padding: 0;
}

.goal-progress div,
.goal-time div {
  border-radius: 4px;
  width: 100%;
  height: 20px;
}

  .goal-card h3,
  .goal-card p,
  .goal-progress h4,
  .goal-time h4 {
    font-family: "Rubik-Regular", Helvetica, sans-serif;
    font-size: 14px; /* גודל פונט אחיד */
    color: var(--clrdarkblue3); /* צבע אחיד */
    font-weight: 400; /* משקל פונט אחיד */
    margin: 0 0 8px; /* ריווח אחיד מתחת לכל כותרת */
  }
  .goal-progress h4,
.goal-time h4 {
  margin-bottom: 4px; /* ריווח מתחת לכותרות זמן עבר ואחוז עמידה */
}

.goalActive {
  display: flex;
  align-items: center;
  gap: 8px; /* רווח בין הצ'קבוקס לטקסט */
  margin-bottom: 8px; /* רווח מתחת לצ'קבוקס */
  margin-top: 8px; /* רווח מעל לכל הכרטיס */
}

.filter-inputs-container-new select {
  appearance: none; /* מסיר את העיצוב הדפדפני המובנה */
  direction: rtl; /* יישור המלל לימין */
  text-align: right; /* המלל מיושר לימין */
  padding-right: 2px; /* הוספת ריווח לימין */
  padding-left: 20px; /* מספיק מקום לחץ בצד שמאל */
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4gPHBhdGggZmlsbD0iI0I0QjRCNCIgZD0iTTEwLjU3IDMuNTlsLTEuMTctMS4xN2MtLjMxLS4zMS0uODEtLjMxLTEuMTIgMGwtMy4yOSAzLjI5LTMuMjktMy4yOWMtLjMxLS4zMS0uODEtLjMxLTEuMTIgMGwtMS4xNyAxLjE3Yy0uMzEuMzEtLjMxLjgxIDAgMS4xMWw0LjQzIDQuNDNjLjMxLjMxLjgxLjMxIDEuMTIgMGw0LjQzLTQuNDNjLjMxLS4zLjMxLS44MS4wMS0xLjEyWiIgLz48L3N2Zz4=")
    no-repeat;
  background-position: left 10px center; /* ממקם את החץ בצד שמאל */
  background-size: 12px; /* גודל החץ */
 /* border: 1px solid var(--clrgray5); /* גבול התיבה */
  /*border-radius: 4px; /* פינות מעוגלות */
  /*font-size: 14px; /* גודל פונט */
  /*height: 32px; /* גובה אחיד */
 /* box-sizing: border-box;*/
}

.filter-inputs-container-new select:focus {
  outline: none; /* הסרת המסגרת של הפוקוס */
  border-color: var(--clrprimary); /* צבע גבול בזמן פוקוס */
}


.wide-column {
  width: 20%;
}

.medium-column {
  width: 15%;
}

.narrow-column {
  width: 10%;
}


.narrow-cell {
  width: 6%;
  text-align: center; /* יישור אופקי */
  vertical-align: middle; /* יישור אנכי */
  padding: 0; /* מסיר רווחים מיותרים */
  position: relative; /* מאפשר אלמנטים יחסיים */
  border: 1px solid #ddd;
}

.table-Data-AgentForm.is-new-design .narrow-cell {
  width: 36px; /* רוחב התא */
  height: 40px; /* גובה התא */
  text-align: center; /* גיבוי ליישור אופקי */
  vertical-align: middle; /* גיבוי ליישור אנכי */
  padding: 0;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  overflow: visible; /* מונע תוכן מחוץ לגבולות התא */
}

.table-Data-AgentForm.is-new-design th.narrow-cell {
  background-color: var(--clrgray3);
  color: var(--clrdarkblue3);
  border-color: var(--clrgray4);
}

/* עיצוב שדות העריכה */
.table-Data-AgentForm.is-new-design td input,
.table-Data-AgentForm.is-new-design td select {
  width: 100%; /* התאמה לרוחב התא */
  height: 36px; /* גובה השדה */
  box-sizing: border-box; /* כולל padding בגודל הכולל */
  font-size: 14px; /* התאמת גודל הטקסט */
  padding: 4px; /* ריווח פנימי */
  border: 1px solid #ccc; /* מסגרת עדינה */
  border-radius: 4px; /* פינות מעוגלות */
  background-color: #fff; /* רקע לבן */
}

/* עיצוב ספציפי לשדות תאריך */
.table-Data-AgentForm.is-new-design td input[type="date"] {
  text-align: center; /* יישור הטקסט */
}

/* עיצוב שדות עם חצים לבחירה (select) */
.table-Data-AgentForm.is-new-design td select {
  appearance: none; /* הסתרת עיצוב ברירת מחדל */
  padding-right: 8px; /* התאמת רווח פנימי */
}

/* התמקדות בשדה עריכה */
.table-Data-AgentForm.is-new-design td input:focus,
.table-Data-AgentForm.is-new-design td select:focus {
  border-color: var(--clrdarkblue3); /* הדגשת מסגרת בעת התמקדות */
  outline: none; /* ביטול המסגרת הכחולה של הדפדפן */
}

/* שדות עריכה מספריים */
.table-Data-AgentForm.is-new-design td input[type="number"] {
  text-align: right; /* יישור לימין */
  width: 100%; /* התאמת רוחב */
}

/* שדות עריכה טקסטואליים */
.table-Data-AgentForm.is-new-design td input[type="text"] {
  text-align: left; /* יישור לשמאל */
}

/* עיצוב שדות תאריך */
.table-Data-AgentForm.is-new-design td input[type="date"] {
  text-align: center; /* יישור הטקסט במרכז */
  font-size: 14px; /* גודל טקסט סטנדרטי */
}
.button-container {
  display: flex;
  gap: 8px; /* רווח בין הכפתורים */
  align-items: center; /* יישור אנכי */
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* רקע כהה חצי שקוף */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* מבטיח שהמודל יופיע מעל התוכן */
}

/* עיצוב התוכן של ה-Modal */
.modal-content {
  width: 400px; /* או ערך קבוע שאתה רוצה */
  max-height: 90vh; /* כדי להימנע מחריגה מהמסך */
  overflow-y: auto; /* אפשר גלילה אם התוכן חורג */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--clrgray1);
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* חלוקת שדות לטופס עם שתי עמודות */
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* שתי עמודות */
  row-gap: 10px; /* רווח בין השורות */
  column-gap: 20px; /* רווח בין העמודות */
  margin-bottom: 10px; /* רווח תחתון */
}

.form-group {
  display: flex;
  flex-direction: column;
}


.form-title {
  height: 22px;
  width: 79px;color: #3b6a95;
  direction: rtl;
  font-family: "Inter-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: fixed;
  top: 0;
  white-space: nowrap;
}

/* עיצוב הכותרות של הטופס */
.form-section-title {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}


/* עיצוב תוויות */
.form-group label {
  font-size: 12px;
  color: #444;
  margin-bottom: 0px;
  display: block;
}
.form-group input,
.form-group select,
.form-group textarea {
  width: 100%; /* תופס את כל הרוחב הזמין */
  height: 30px; /* גובה אחיד */
  padding: 6px; /* רווח פנימי */
  font-size: 14px; /* גודל טקסט אחיד */
  border: 1px solid #ccc; /* מסגרת אחידה */
  border-radius: 4px; /* פינות עגולות */
  box-sizing: border-box; /* כולל Padding בתוך ה-Width */
  background-color: #fff; /* צבע רקע אחיד */
}

.form-group select {
  appearance: none; /* הסרת עיצוב ברירת מחדל לדפדפן */
  -webkit-appearance: none; /* תמיכה ב-Chrome/Safari */
  -moz-appearance: none; /* תמיכה ב-Firefox */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M7 10l5 5 5-5z' fill='%23ccc'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px; /* רווח לתפריט הנפתח */
}

.form-group.textarea-group {
  grid-column: span 2; /* תופס שתי עמודות */
}

.form-group textarea {
  width: 100%; /* תופס את כל רוחב הטופס */
  height: 90px; /* מגדיר גובה קבוע */
  resize: none; /* מונע שינוי גודל */
  overflow: auto; /* מאפשר גלילה פנימית במקרה הצורך */
  padding: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.form-actions {
  display: flex;
  justify-content: space-between;
}

