@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --hover:theme('colors.custom-light-blue');
}

table {
    width: 5rem;
    border-collapse: collapse;
    border: 2px solid theme('colors.custom-light-blue');
}

/*table {*/
  /*  border-collapse: separate; /* Use 'separate' to allow proper border-radius */
    /*border-spacing: 0; /* Remove any gap between cells */
    /*border-radius: 10px; /* Rounded corners for the outer table */
    /*overflow: hidden; /* Ensure the corners are clipped properly */
  /*}*/
  
  /*table th, 
 /* table td {
 /*   border: 1px solid #ddd; /* Inner cell borders */
  /*  padding: 8px; /* Optional padding for spacing */
  /*  border-radius: 0; /* Ensure no rounding on individual cells */
 /* }*/
  

thead {
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid hsl(0 0% 80%);
    background-color: #ffffff;
}



.table-container tr:hover, .table-container tr:hover td 
{  background-color: var(--hover);

}

button {
    padding: 0.75em 0.3em;
    border-radius: 4px;
    border: 2px solid theme('colors.custom-green');
    color: theme('colors.custom-green');
}



button {
    background-color:theme('colors.custom-blue') !important; /* Assuming #0b2340 is the value of 'custom-blue' */
}

button:disabled {
    padding: 0.75em 0.3em;
    border-radius: 4px;
    border: 2px solid theme('colors.custom-green');
    background-color: theme('colors.custom-light-blue');
    color: theme('colors.custom-green');
}


button:hover {
    background-color: var(--hover);
}
.page-layout {
    display: flex;
    flex-direction: row-reverse; /* if the sidebar is on the right */
}

.main-content {
    flex-grow: 1;
    margin-right: 100; /* Assuming the sidebar width is 250px */
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */
}
