.navbar {
  align-items: flex-start;
  background-color: var(--clrdarkblue3);
  display: flex;
  flex-direction: column;
  height: 100%; /* 砖 转  */
  min-height: calc(100vh - 60px); /*  祝 驻转 -TopBar */
  width: 210px;
  min-width: 210px; /* 砖专 注 专 拽注 */
  max-width: 210px; /* 转 专 拽住 */
  box-sizing: border-box;
  overflow: hidden; /* 注转  转专转 */
  position: fixed;
  top: 60px; /* 转 拽 转转 -TopBar */
  z-index: 999; /*  -TopBar */

}

.navbar .navbar-item-instance {
  align-self: stretch !important;
  width: 100% !important;
}
.navbar-link {
  white-space: nowrap; /* 注 砖专转 砖专 */
  overflow: hidden; /* 住转专 拽住 专 */
  text-overflow: ellipsis; /* 住祝 砖砖 拽转  砖 拽住 专 */
  width: 100%; /* 转驻住 转  专 */
  display: block;
}
.navbar-item {
  width: 100%; /* 转  拽注 砖 驻专 */
  text-align: right; /* 砖专   */
}

.navbar-item-content {
  /*width: 100%; /* 转驻住 转  专 */
  display: flex;
  justify-content: space-between;
}


/* Flow - 爪 转 navbar-bottom */
.navbar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/*  爪专 拽砖专 - 爪 转转转 -NAVBAR */
.contact-container {
  position: absolute; /* 转 砖 fixed 转,  -navbar    */
  bottom: 80px; /* 转  专  */
  left: 63%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
}

.contact-link {
  display: inline-block;
  background: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 16px;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #ffcc00;
}
