.navbar {
  align-items: flex-start;
  background-color: var(--clrdarkblue3);
  display: flex;
  flex-direction: column;
  height: 100%; /* משנה את הגובה */
  min-height: calc(100vh - 60px); /* גובה הדף פחות ה-TopBar */
  width: 210px;
  min-width: 210px; /* שמירה על רוחב קבוע */
  max-width: 210px; /* הגבלת הרוחב המקסימלי */
  box-sizing: border-box;
  overflow: hidden; /* מניעת גלילה מיותרת */
  position: fixed;
  top: 60px; /* מתחיל בדיוק מתחת ל-TopBar */
  z-index: 999; /* נמוך מה-TopBar */

}

.navbar .navbar-item-instance {
  align-self: stretch !important;
  width: 100% !important;
}
.navbar-link {
  white-space: nowrap; /* מונע שבירת שורה */
  overflow: hidden; /* מסתיר טקסט חורג */
  text-overflow: ellipsis; /* מוסיף שלוש נקודות אם יש טקסט חורג */
  width: 100%; /* תופס את כל הרוחב */
  display: block;
}
.navbar-item {
  width: 100%; /* הבטחת גודל קבוע של הפריטים */
  text-align: right; /* יישור המלל לימין */
}

.navbar-item-content {
  /*width: 100%; /* תופס את כל הרוחב */
  display: flex;
  justify-content: space-between;
}


/* Flow - נמצא בתוך navbar-bottom */
.navbar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

/* 🔹 צור קשר - מוצמד לתחתית ה-NAVBAR */
.contact-container {
  position: absolute; /* ייתכן שגם fixed יתאים, אם ה-navbar לא בגובה דינמי */
  bottom: 80px; /* תני לו מרווח מלמטה */
  left: 63%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
}

.contact-link {
  display: inline-block;
  background: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 16px;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #ffcc00;
}
