.navbar {
  align-items: flex-start;
  background-color: var(--clrdarkblue3);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 210px;
  min-width: 210px; /* שמירה על רוחב קבוע */
  max-width: 210px; /* הגבלת הרוחב המקסימלי */
  box-sizing: border-box;
  overflow: hidden; /* מניעת גלילה מיותרת */
  position: relative;
}

.navbar .navbar-item-instance {
  align-self: stretch !important;
  width: 100% !important;
}
.navbar-link {
  white-space: nowrap; /* מונע שבירת שורה */
  overflow: hidden; /* מסתיר טקסט חורג */
  text-overflow: ellipsis; /* מוסיף שלוש נקודות אם יש טקסט חורג */
  width: 100%; /* תופס את כל הרוחב */
  display: block;
}
.navbar-item {
  width: 100%; /* הבטחת גודל קבוע של הפריטים */
  text-align: right; /* יישור המלל לימין */
}

.navbar-item-content {
  width: 100%; /* תופס את כל הרוחב */
  display: flex;
  justify-content: space-between;
}
.navbar-bottom {
  width: 100%;
  min-width: 230px;
  text-align: center;
  padding: 10px;
}

