.content-container {
  display: flex;
  justify-content: space-between;
  /* Space out the children */
}

.form-container,
.data-container {
  flex: 1;
  /* Each child will take up equal space */
  padding: 10px;
  /* Add some padding around the content */
  font-family: Arial, sans-serif;
  color: black;
  font-size: 12px;
  position: relative;
  z-index: 8;
  padding-top: 4rem;
}


.table-container {
  max-height: 300px; /* Adjust based on your preference */
  overflow-y: auto;
  border: 1px solid #ccc;

}

table {
  width: 100%;
  border-collapse: collapse;
}


.content-container,
.form-container,
.data-container,
label {
  text-align: right;
  /* Align text to the right */
  direction: rtl;
  /* For right-to-left languages like Hebrew */
}



.title-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}

h1 {
  font-size: 2.5em;
  /* Larger font size for H1 */
  font-weight: bold;
  /* Makes the font bold */
  color: black;
  /* Black font color */
}

h2 {
  font-size: 2em;
  /* Slightly smaller font size for H2 */
  font-weight: bold;
  /* Makes the font bold */
  color: black;
  /* Black font color */
}

.title {
  font-size: 3em;
  /* Even larger font size for a special title class */
  font-weight: bold;
  /* Makes the font bold */
  color: black;
  /* Black font color */
}

.form-group {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  margin-bottom: 5px; /* Adds some space between each form group */
}


label {
  flex-basis: 30%; /* Adjust based on your needs */
  text-align: right; /* Ensures the text is right-aligned next to the input/select */
}


input,
select {
  max-width: 150px;
  flex-grow: 1; /* Allows input/select to take up the remaining space */
  flex-basis: 70%;
  padding: 2px;
  height: 30px; /* Explicitly sets the height; adjust as needed */
  box-sizing: border-box;
  border: 1px solid #ccc !important;
  border-radius: 4px  !important;
  font-size: 12px;
}
.selected-row {
  background-color: hsl(200 70% 90%);
  /* Light blue, for example */
}

button:disabled {
  color: gray; /* Text color for disabled buttons */
  cursor: not-allowed; /* Cursor for disabled buttons */
  /* Additional styles for disabled buttons */
}

