.content-container {
  display: flex;
  justify-content: space-between;
  /* Space out the children */
}

.form-container,
.data-container {
  flex: 1;
  /* Each child will take up equal space */
  padding: 20px;
  /* Add some padding around the content */
  font-family: Arial, sans-serif;
  color: black;
}

.content-container,
.form-container,
.data-container,
label {
  text-align: right;
  /* Align text to the right */
  direction: rtl;
  /* For right-to-left languages like Hebrew */
}

.title-container {
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}

h1 {
  font-size: 2.5em;
  /* Larger font size for H1 */
  font-weight: bold;
  /* Makes the font bold */
  color: black;
  /* Black font color */
}

h2 {
  font-size: 2em;
  /* Slightly smaller font size for H2 */
  font-weight: bold;
  /* Makes the font bold */
  color: black;
  /* Black font color */
}

.title {
  font-size: 3em;
  /* Even larger font size for a special title class */
  font-weight: bold;
  /* Makes the font bold */
  color: black;
  /* Black font color */
}

input,
select {
  display: block;
  /* Keeps each input/select on a new line */
  width: 80%;
  /* Reduce the width to make the elements smaller */
  margin: 5px auto;
  /* Reduce the margin to decrease space between elements */
  padding: 4px;
  /* Reduce the padding to decrease the overall size */
  box-sizing: border-box;
  /* Ensures padding and border are included in total width/height */
  border: 1px solid #ccc;
  /* Keeps a subtle border */
  border-radius: 4px;
  /* Maintains slightly rounded corners */
}

.selected-row {
  background-color: hsl(200 70% 90%);
  /* Light blue, for example */
}

button:disabled {
  color: gray; /* Text color for disabled buttons */
  cursor: not-allowed; /* Cursor for disabled buttons */
  /* Additional styles for disabled buttons */
}
