.dialog {
  align-items: flex-start;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: column;
  height: 220px;
  position: relative;
  width: 360px;
}

.dialog .dialog-main-content {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--collection-1-clrgray1-duplicate);
  border-color: var(--collection-1-clrgray5-duplicate);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.dialog .icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 10px;
  position: relative;
}

.dialog .instance-node-2 {
  height: 20px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.dialog .div-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.dialog .div-wrapper-3 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.dialog .text-wrapper-5 {
  color: var(--collection-1-clrdarkblue3-duplicate);
  direction: rtl;
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dialog .p {
  align-self: stretch;
  color: var(--collection-1-clrblack-duplicate);
  direction: rtl;
  font-family: "Rubik", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
}

.dialog .dialog-header-instance {
  align-self: stretch !important;
  position: relative !important;
  width: 100% !important;
}

.dialog .dialog-main-content-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--collection-1-clrgray1-duplicate);
  border-color: var(--collection-1-clrgray5-duplicate);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  width: 100%;
}

.dialog .div-5 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.dialog .frame-wrapper-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.dialog .frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 5px;
  justify-content: flex-end;
  position: relative;
}

.dialog .div-6 {
  direction: rtl;
  font-family: var(---font-family);
  font-size: var(---font-size);
  font-style: var(---font-style);
  font-weight: var(---font-weight);
  letter-spacing: var(---letter-spacing);
  line-height: var(---line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dialog .instance-node-3 {
  left: unset !important;
  position: relative !important;
  top: unset !important;
}

.dialog .dialog-footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--collection-1-clrgray1-duplicate);
  border: 1px solid;
  border-color: var(--collection-1-clrgray5-duplicate);
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 100%;
}

.dialog .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: -5.00px;
  margin-top: -5.00px;
  position: relative;
}

.dialog .button-2 {
  flex: 0 0 auto !important;
}

.dialog .type-error {
  color: var(--collection-1-status-error-duplicate);
}

.dialog .type-warning {
  color: var(--collection-1-status-high-duplicate);
}

.dialog .type-success {
  color: var(--collection-1-status-success-duplicate);
}

.dialog .type-info {
  color: var(--collection-1-status-high-duplicate);
}
