input[type="checkbox"] {
  width: 20px; /* Width of the checkbox */
  height: 20px; /* Height of the checkbox */
  cursor: pointer; /* Changes cursor to pointer when hovering over the checkbox */
}


th, td {
  padding: 2px 8px; /* Reduces padding inside cells */
  line-height: 1.2; /* Tighter line height for text */
  border: 1px solid #ccc; /* Adds a border for clarity */
}

tr {
  height: auto; /* Allows row height to adjust based on content and padding */
}


.select-container {
  display: flex;
  justify-content: center; /* Centers  horizontally */
  align-items: center; /* Aligns  vertically */
  padding: 10px 0; /* Padding above and below the button row */
}

.select-container select,
.select-container input 
{
  width: 100%; /* Reduce width to make inputs/selects shorter */
  padding: 0.25em 0.5em; /* Adjust padding as needed */
  font-size: 12px; /* Maintain the font size or adjust as necessary */
  margin: auto; /* Center the inputs/selects within the cell */
  display: block; /* Ensures the input/select fills the width defined */
  text-align: center; /* Center text inside the inputs/selects */
  height:30px; /* Adjust height to better fit in the table row, can adjust as needed */
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey border */
  border-top: 6px solid #3498db; /* Blue border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}